/* Table of Content
==================================================
	1.0  -  Custom Class
	2.0  -  Browser Fix
	3.0  -  DT Responsive*/

/*--------------------------------------------------------------
	1.0 - Custom Class
	--------------------------------------------------------------*/

a.video-image span:after
{
            transition: all .3s linear; 
       -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
         -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.title_uppercase
{
    text-transform: uppercase;
}
.title_bold
{
    font-weight: bold;
}

/* http://prntscr.com/dydrzx = Reseller Hosting page */
.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner,
.extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner
{
    position: relative;
}
.extend-bg-fullwidth-left:not(.vc_col-has-fill):after,
.extend-bg-fullwidth-right:not(.vc_col-has-fill):after,
.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after,
.extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after
{
    content: '';
    display: inline !important;
    height: 100%;
    position: absolute;
    top: 0;
    width: 9999px;
    z-index: -1;
}
.extend-bg-fullwidth-left:not(.vc_col-has-fill):after,
.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after
{
    right: 100%; 
    z-index: 0;
}
.extend-bg-fullwidth-right:not(.vc_col-has-fill):after,
.extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after
{
    left: 100%; 
    z-index: 0;
}

.extend-bg-fullwidth-left:after,
.extend-bg-fullwidth-right:after,
.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after,
.extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after
{
    background-color: inherit;
}


.dt-sc-special-testimonial-container .extend-bg-fullwidth-left:after,
.dt-sc-special-testimonial-container .extend-bg-fullwidth-right:after
{
    background: none;
}

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.vc_col-has-fill):after,
.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after
{
    box-shadow: 8px 0 0 0 #fff; 
    right: 0;
    transform: skewX(-30deg) translateX(18px);
    z-index: 0;
}

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.dt-col-static-position) > .vc_column-inner
{
    position: relative;
    z-index: 1 !important;
}

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:before
{
    left: 0;
    transform: skewX(-30deg) translateX(-32px);
}

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left[class*='dt-skin-'],
.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right[class*='dt-skin-']
{
    background-color: transparent;
}

a.video-image span
{
    opacity: 0; 
    position: absolute;
}
a.video-image span:after
{
    background: #2b2b2b;
    border-radius: 50%;
            box-shadow: 0 0 0 5px rgba(255,255,255,.35);
       -moz-box-shadow: 0 0 0 5px rgba(255,255,255,.35);
    -webkit-box-shadow: 0 0 0 5px rgba(255,255,255,.35);
    color: #fff;
    content: '';
    display: block;
    height: 75px;
    left: -2px; 
    line-height: 75px;
    position: absolute;
    top: 0;
    width: 75px;
    z-index: -1;
}
a.video-image span:hover:after
{
    background: #fff;
}

.image-overlay-icon .vc_single_image-wrapper
{
    position: relative;
}
.image-overlay-icon .vc_single_image-wrapper:before
{
    background: rgba(0,0,0,.4);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute; 
    right: 0;
    top: 0;
    width: 100%;
}

.image-overlay-icon a.video-image
{
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center; 
    top: 50%;
            transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
}

.gradient-parallax:before
{
    background:    -moz-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, .72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, .72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    background:         linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, .72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    content: '';
    display: block;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); 
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.gradient-parallax .gradient-content
{
    padding-right: 45px; 
    z-index: 9;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    ::i-block-chrome,
    .safari-hack.vc_row.vc_row-flex
    {
        display: block !important;
    }
}
/*.vc_row.vc_row-flex, .vc_row.vc_row-flex > .vc_column_container*/

/*----*****---- << Vc Column custom class >> --****--*/
.rs_no-padding_column.wpb_column,
.vc_col-md-12.wpb_column.rs_no-padding_column
{
    margin-bottom: 0; 
    margin-top: -1px;
    padding-bottom: 0;
} /* http://prntscr.com/dydqdv */

.light-overlay:before
{
    background: rgba(255, 255, 255, .8);
} /* http://prntscr.com/dydsrd  = Model Home page contact section */
.dark-overlay:before
{
    background: rgba(0, 0, 0, .8);
}

/*----*****---- << Gray Scale >> --****--*/ /* http://prntscr.com/dydr06 = Hotel Our Firm Page */
.gray-scale:hover,
.gray-scale:hover img
{
            filter: grayscale(1);
       -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
            transition-duration: 1s; 
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
        -ms-transition-duration: 1s;
    -webkit-transition-duration: 1s;
            transition-property:         filter;
       -moz-transition-property:    -moz-filter;
        -ms-transition-property:     -ms-filter;
         -o-transition-property:      -o-filter;
    -webkit-transition-property: -webkit-filter;

        -ms-filter: grayscale(1);
         -o-filter: grayscale(1);
}

/*----*****---- << Text with icon >> --****--*/ /* http://prntscr.com/dydrax = Fitness Home Page */
.dt-sc-text-with-icon
{
    clear: both;
    float: left;
    font-weight: bold;
    padding: 12px 0 12px 20px; 
    width: 100%;
}
.dt-sc-text-with-icon span
{
    font-size: 18px;
    font-weight: bold; 
    margin: 0 7px 0 0;
    position: relative;
    top: 2px;
}

.dt-sc-text-with-icon.border-bottom
{
    border-bottom: 1px solid;
}
.dt-sc-text-with-icon.border-right
{
    border-right: 1px solid;
}

.dt-sc-dark-bg .dt-sc-text-with-icon span
{
    color: #fff;
}

/*----*****---- << Hosting Domain Page Table >> --****--*/ /* http://prntscr.com/dydxr3 = Hosting Domain Page */
.hosting-table
{
    border-top: 0;
    font-family: 'Open Sans', sans-serif;
}
.hosting-table th
{
    background: #e1e1e1;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid #fff;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 15px;
}
.hosting-table tr td,
.hosting-table tbody tr:nth-child(2n+1) td
{
    background: rgba(0, 0, 0, .95);
    border-bottom: 0;
    border-right: 1px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    font-weight: 600;
    padding: 25px 15px;
}
.hosting-table tbody tr td:last-child,
.hosting-table tr th:last-child
{
    border: none;
}

.hosting-table tbody tr:nth-child(2) td
{
    background: rgba(0, 0, 0, .9);
}
.hosting-table tbody tr:nth-child(3) td
{
    background: rgba(0, 0, 0, .85);
}
.hosting-table tbody tr:nth-child(4) td
{
    background: rgba(0, 0, 0, .8);
}
.hosting-table tbody tr:nth-child(5) td
{
    background: rgba(0, 0, 0, .75);
}
.hosting-table tbody tr:nth-child(6) td
{
    background: rgba(0, 0, 0, .7);
}
.hosting-table tbody tr:nth-child(7) td
{
    background: rgba(0, 0, 0, .65);
}
.hosting-table tbody tr:nth-child(8) td
{
    background: rgba(0, 0, 0, .6);
}
.hosting-table tbody tr:nth-child(9) td
{
    background: rgba(0, 0, 0, .55);
}
.hosting-table tbody tr:nth-child(10) td
{
    background: rgba(0, 0, 0, .5);
}
.hosting-table tbody tr:nth-child(11) td
{
    background: rgba(0, 0, 0, .45);
}
.hosting-table tbody tr:nth-child(12) td
{
    background: rgba(0, 0, 0, .4);
}

.hosting-table tbody tr td:first-child
{
    position: relative;
}
.hosting-table tbody tr td:first-child:before
{
    background: #60ae0d;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.hosting-table tbody tr td.new,
.hosting-table tbody tr td.hot
{
    overflow: hidden; 
    position: relative;
}
.hosting-table tbody tr td.new:before,
.hosting-table tbody tr td.hot:before
{
    background: #60ae0d;
    color: #fff;
    content: 'New';
    font-size: 12px;
    left: -20px;
    padding: 2px 22px;
    position: absolute;
    top: 5px;
            transform: rotate(-45deg); 
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.hosting-table tbody tr td.hot:before
{
    background: #e80505;
    content: 'Hot';
    padding: 2px 24px;
}

/*----*****---- << Spa rounded corner image >> --****--*/ /* http://prntscr.com/dydylt = Spa */
.dt-sc-partially-rounded-alt
{
            transition: all .3s linear; 
       -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
         -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.vc_min_height_right.wpb_column.vc_col-sm-6
{
    margin-left: 30px;
    width: calc(50% - 30px);
} /* http://prntscr.com/e0ka7y *
	
	/*----*****---- << Image Caption With Counter >> --****--*/	 /* http://prntscr.com/dydzek = Image caption counter */
.dt-sc-image-caption-with-counter
{
    counter-reset: image-caption-counter;
}
.dt-sc-image-caption-with-counter h3
{
    counter-increment: image-caption-counter;
}
.dt-sc-image-caption-with-counter h3:before
{
    border-bottom: 2px solid;
    content: counter(image-caption-counter, decimal-leading-zero);
    float: left;
    font-size: 36px;
    font-weight: 600;
    margin: -10px 20px 0 0;
    padding: 0;
}
.dt-sc-image-caption-with-counter h3:before
{
    font-family: 'Open Sans', sans-serif;
}

.dt-sc-contact-details-on-map .dt-sc-map-overlay h3,
.dt-sc-contact-details-on-map .map-switch-icon,
.dt-sc-contact-details-on-map .map-switch-icon:hover
{
    color: #fff;
}
.dt-sc-contact-details-on-map .map-switch-icon:hover
{
    background: #000;
} /* http://prntscr.com/dydzs2 = Restaurant */

/*----*****---- << Photography Readmore Plus >> ----*****----*/ /* http://prntscr.com/dydzxp = Photography */
.dt-sc-readmore-plus-icon:before,
.dt-sc-readmore-plus-icon:after
{
            transition: all .3s linear; 
       -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
         -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.dt-sc-readmore-plus-icon
{
    bottom: 0;
    height: 60px;
    position: absolute;
    right: 0;
    text-indent: -9999px; 
    width: 60px;
}
.dt-sc-readmore-plus-icon:before,
.dt-sc-readmore-plus-icon:after
{
    bottom: 0;
    content: '';
    left: 0;
    margin: auto; 
    position: absolute;
    right: 0;
    top: 0;
}
.dt-sc-readmore-plus-icon:before
{
    height: 1px;
    width: 30px;
}
.dt-sc-readmore-plus-icon:after
{
    height: 30px;
    width: 1px;
}

.dt-sc-readmore-plus-icon:before,
.dt-sc-readmore-plus-icon:after
{
    background: #fff;
}
.dt-sc-readmore-plus-icon
{
    background: #000;
}
.dt-sc-readmore-plus-icon:hover
{
    background: rgba(0, 0, 0, .8);
}

/*----*****---- << Nightclub Home page Social icons >> ----*****----*/
.diamond-narrow-square-border li:before
{
            transition: all .3s linear; 
       -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
         -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.diamond-narrow-square-border li a
{
    color: #000;
}
.diamond-narrow-square-border li a:hover
{
    color: #fff;
}

/*--------------------------------------------------------------
	2.0 - Browser Fix
	--------------------------------------------------------------*/
/* IE9 and above override */
@media screen and (min-width:0\0)
{
    .dt-sc-contact-details-on-map .dt-sc-map-overlay
    {
        padding: 71px 0 0;
    }
}

/* IE9 only override */
.ie9 .dt-sc-contact-details-on-map .dt-sc-map-overlay
{
    padding: 72px 0 0;
}

/*--------------------------------------------------------------
	3.0 - DT Responsive
	--------------------------------------------------------------*/
/* Note: Design for a width of 960px */
@media only screen and (min-width:992px) and (max-width:1199px)
{
    /*----*****---- << Hosting >> ----*****----*/
    .hosting-contact-info-container .dt-sc-contact-info.type7 span
    {
        left: 10px;
    }

    /*----*****---- << Restaurant >> ----*****----*/
    .dt-sc-contact-details-on-map .dt-sc-map-overlay
    {
        padding: 72px 0 0;
    }

    /*----*****---- << Miscellaneous >> ----*****----*/
    .dt-sc-text-with-icon
    {
        font-size: 13px;
    }

    .dt-sc-image-caption.type8 .dt-sc-image-title h6
    {
        line-height: normal;
    }
}

/* Note: Design for a width of 768px */
@media only screen and (min-width:768px) and (max-width:991px)
{
    .dt-sc-text-with-icon
    {
        font-size: 11px;
    }

    .vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3
    {
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 h6
    {
        font-size: 15px;
    }

    .dt-sc-contact-details-on-map .dt-sc-map-overlay
    {
        padding: 76px 0 0;
    }

    .rs_line_height p
    {
        line-height: normal !important;
    }

    /*----*****---- << Event >> ----*****----*/
    .dt-sc-content-with-hexagon-shape
    {
        margin-left: 16%;
    }
    .event-colored-box
    {
        margin-top: 0;
    }
    .event-contact-info
    {
        margin-left: 25%;
    }

    /*----*****---- << Architecture >> ----*****----*/
    .architecture-process.rs_padding_override
    {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .column.wpb_column.dt-sc-one-fifth.vc_col-md-4
    {
        margin-bottom: 20px;
        min-height: 290px; 
        width: 32%;
    }
    .column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(4),
    .column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(10)
    {
        margin-left: 0;
    }

    .secondary-skin-gradient .dt-sc-contact-info,
    .secondary-skin-gradient .dt-sc-contact-info span
    {
        font-size: 40px;
    }
}

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px)
{
    .fitness-form-container.extend-bg-fullwidth-right::after
    {
        background-color: transparent;
    }
    .fitness-form-container.extend-bg-fullwidth-right .vc_column-inner
    {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .fitness-contact-boxes .wpb_text_column,
    .fitness-contact-boxes .wpb_text_column:nth-child(2),
    .fitness-contact-boxes .wpb_text_column:last-child,
    .fitness-contact-boxes .wpb_text_column:nth-child(3)
    {
        padding: 10px 0; 
        width: 100%;
    }

    .hotel_blockquote-type4 blockquote.type4
    {
        margin-top: 0;
    }

    .event-colored-box
    {
        margin-top: 0;
    }
    .event-contact-info.wpb_column
    {
        float: none; 
        padding: 85px 30px 30px;
        width: 320px;
    }

    .gradient-parallax:before
    {
        background:    -moz-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, .75) 30%, rgba(242, 243, 246, .65) 40%, rgba(242, 243, 246, .55)60%, rgba(229, 229, 229, 0) 100%);
        background: -webkit-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, .75) 30%, rgba(242, 243, 246, .65) 40%, rgba(242, 243, 246, .55)60%, rgba(229, 229, 229, 0) 100%);
        background:         linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, .75) 30%, rgba(242, 243, 246, .65) 40%, rgba(242, 243, 246, .55)60%, rgba(229, 229, 229, 0) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1);
    }

    /*----*****---- << Hosting >> ----*****----*/
    .hosting-contact-info-container .dt-sc-contact-info.type7 span
    {
        left: 0;
    }
    .hosting-contact-info-container .dt-sc-contact-info.type7
    {
        padding-left: 100px;
    }
    .rs_client_testimonial-center .dt-sc-image-flip a
    {
        display: block; 
        position: relative;
    }
    .rs_client_testimonial-center .dt-sc-image-flip
    {
        text-align: center;
    }

    .hosting-table th
    {
        font-size: 13px;
        padding: 13px 10px;
        text-transform: capitalize;
    }
    .hosting-table tr td,
    .hosting-table tbody tr:nth-child(2n+1) td
    {
        font-size: 13px;
        padding: 21px 10px;
    }
    .hosting-contact-info-container:before
    {
        content: none;
    }

    .extend-bg-fullwidth-left::after
    {
        content: none;
    }

    /*----*****---- << Custom Class >> ----*****----*/
    .rs_col_no_btm_space .wpb_column,
    .rs_col_no_btm_space.wpb_column,
    .rs_negative-margin_override.vc_row
    {
        margin-left: 0 !important;
    }

    .rs_padding_override_zero.vc_row,
    .rs_padding_override_zero.wpb_column .vc_column-inner
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .secondary-skin-gradient .dt-sc-contact-info,
    .secondary-skin-gradient .dt-sc-contact-info span
    {
        font-size: 30px;
    }

    /*----*****---- << Custom Class >> ----*****----*/
    .rs_padding_override.vc_row,
    .rs_padding_override.wpb_column .vc_column-inner
    {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.vc_col-has-fill):after,
    .vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after,
    .vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right:not(.vc_col-has-fill):after,
    .vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after
    {
        left: 0;
        margin: 0 -15px;
        right: 0;
        transform: none;
    }
}

/* Common Styles for the devices below 479px width */
@media only screen and (max-width: 479px)
{
    /*----*****---- << Event location page >> ----*****----*/
    .event-contact-info.wpb_column
    {
        margin: 20px 0 0 0; 
        width: 100%;
    }
    .event-contact-info:before
    {
        background-size: 100%; 
        left: 0;
        width: 100%;
    }
    .event-contact-info .dt-sc-sociable li
    {
        margin-bottom: 20px;
    }

    /*----*****---- << Custom Class >> ----*****----*/
    .rs_padding_left-override.vc_row .vc_column-inner,
    .rs_padding_left-override.wpb_column .vc_column-inner
    {
        padding-left: 15px !important;
    }
    .vc_row.vc_row-no-padding .responsive-padding > .vc_column-inner
    {
        padding-left: 35px; 
        padding-right: 35px;
    }

    .gradient-content .dt-sc-button.medium
    {
        padding: 14px 20px;
    }

    .overflow-content
    {
        margin: 0;
    }

    /*----*****---- << Hosting >> ----*****----*/
    .hosting-table th
    {
        font-size: 12px;
        padding: 13px 6px; 
        text-transform: capitalize;
    }
    .hosting-table tr td,
    .hosting-table tbody tr:nth-child(2n+1) td
    {
        font-size: 12px;
        padding: 22px 8px;
    }

    /*----*****---- << Miscellaneous >> ----*****----*/
    .rs_fontsize_small
    {
        font-size: 40px !important;
    }

    .rs_padding_override.vc_row,
    .rs_padding_override.wpb_column .vc_column-inner
    {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    /*----*****---- << Business >> ----*****----*/
    .business-contact-social li
    {
        margin: 0 15px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 319px)
{
    /*----*****---- << Event location page >> ----*****----*/
    .event-contact-info.wpb_column
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .event-contact-info .dt-sc-contact-info span
    {
        float: none;
        margin: 0; 
        text-align: center;
        width: 100%;
    }

    /*----*****---- << Hosting contact Page >> ----*****----*/
    .hosting-contact-info-container:before
    {
        left: 0;
    }
    .hosting-contact-info-container .dt-sc-contact-info.type7
    {
        padding-left: 0;
    }
    .hosting-contact-info-container .dt-sc-contact-info.type7 span
    {
        left: 0;
    }
    .hosting-contact-info-container:before
    {
        width: 100%;
    }

    /*----*****---- << Hosting Domain Page >> ----*****----*/
    .hosting-table th
    {
        font-size: 10px;
        padding: 13px 0;
    }
    .hosting-table tr td,
    .hosting-table tbody tr:nth-child(2n+1) td
    {
        font-size: 10px;
        padding: 21px 7px;
    }

    /*----*****---- << Common >> ----*****----*/
    .rs_fontsize_small
    {
        font-size: 32px !important;
    }

    /* http://prntscr.com/dydp42, http://prntscr.com/dydpkf */
    .rs_padding_override.vc_row,
    .rs_padding_override.wpb_column .vc_column-inner
    {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    /*----*****---- << Fitness >> ----*****----*/
    .dt-sc-text-with-icon
    {
        font-size: 10px;
        padding-left: 15px;
    }
    .dt-sc-text-with-icon span
    {
        font-size: 15px;
        margin-right: 5px;
    }
}
